<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forbidden Secrets</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<main>
  <h1 class="forbidden-secrets-title">All Forbidden Secrets</h1>

  <div class="button-container">
    <button class="forbidden-secrets-button" onclick="document.getElementById('post-form-popup').style.display='block'">Add a New Secret</button>
  </div>

  <div th:each="post : ${allPosts}" class="forbidden-secrets-post">
    <h3 class="forbidden-secrets-post-username" th:if="${post.siteUser != null}" th:text="${post.siteUser.username}"></h3>
    <p class="forbidden-secrets-date" th:text="${post.date}"></p>
    <div class="forbidden-secrets-postcontent-container">
      <p th:text="${post.postContent}"></p>
    </div>
  </div>

  <div id="post-form-popup" class="forbidden-secrets-popup">
    <div class="forbidden-secrets-popup-content">
      <form class="forbidden-secrets-form" th:action="@{'/forbidden-secrets/' + ${siteUser.username} + '/add-post'}" method="post">
        <fieldset>
          <legend class="forbidden-secrets-label">Make a new Secret</legend>
          <input type="hidden" name="siteUserId" th:value="${siteUser.id}">
          <label for="new-content-text" class="forbidden-secrets-label">Content</label>
          <textarea id="new-content-text" type="text" name="postContent" required style="width: 100%; height: 200px; resize: vertical; max-width: 100%;"></textarea>
          <div class="modal-buttons">
            <input class="modal-button" type="submit" value="Submit Post">
            <button class="modal-button" type="button" onclick="document.getElementById('post-form-popup').style.display='none'">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>
</body>
</html>
