<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forbidden Secrets</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<main>
  <h1 th:text="${appUser.username + 's Secrets'}" class="forbidden-secrets-title"></h1>
  <div th:each="post : ${appUser.postList}" class="forbidden-secrets-post">
    <h2 class="forbidden-secrets-subject" th:text="${post.subject}"></h2>
    <p class="forbidden-secrets-date" th:text="${post.date}"></p>
    <div class="forbidden-secrets-postcontent-container">
      <p th:text="${post.postContent}"></p>
    </div>
  </div>

  <form class="forbidden-secrets-form" action="/secret-recipes/add-post" method="post">
    <fieldset>
      <legend class="forbidden-secrets-label">Make a new Post</legend>
      <input type="hidden" name="appUserId" th:value="${appUser.id}">
      <label for="new-content-subject" class="forbidden-secrets-label">Subject</label>
      <input id="new-content-subject" type="text" name="subject" required>
      <label for="new-content-text" class="forbidden-secrets-label">Content</label>
      <textarea id="new-content-text" type="text" name="postContent" required></textarea>
      <input class="forbidden-secrets-button" type="submit" value="Submit Post">
    </fieldset>
  </form>
</main>
</body>
</html>
